<div class="toolBox border border-olive">
  <button
    type="button"
    class="btn"
    [ngClass]="mode == 'selection' ? 'btn-primary' : 'btn-outline-primary'"
    (click)="onToolSelect('selection')"
  >
    <fa-icon [icon]="['fas', 'mouse-pointer']"></fa-icon>
  </button>
  <button
    type="button"
    class="btn"
    [ngClass]="mode == 'draw' ? 'btn-primary' : 'btn-outline-primary'"
    (click)="onToolSelect('draw')"
  >
    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
  </button>
  <button type="button" class="btn btn-outline-primary">b</button>
  <button type="button" class="btn btn-outline-primary">b</button>
</div>
