<div class="toolBox border border-olive">
  <button
    type="button"
    class="btn"
    [ngClass]="permanentMode == 'selection' ? 'btn-primary' : 'btn-outline-primary'"
    (click)="onToolSelect('selection')"
  >
    <fa-icon [icon]="['fas', 'mouse-pointer']"></fa-icon>
  </button>
  <button
    type="button"
    class="btn"
    [ngClass]="permanentMode == 'draw' ? 'btn-primary' : 'btn-outline-primary'"
    (click)="onToolSelect('draw')"
  >
    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
  </button>
  <button
    type="button"
    class="btn"
    [ngClass]="permanentMode == 'rect' ? 'btn-primary' : 'btn-outline-primary'"
    (click)="onToolSelect('rect')"
  >
    <fa-icon [icon]="['far', 'square']"></fa-icon>
  </button>
  <button
  type="button"
  class="btn"
  [ngClass]="permanentMode == 'circle' ? 'btn-primary' : 'btn-outline-primary'"
  (click)="onToolSelect('circle')"
>
  <fa-icon [icon]="['far', 'circle']"></fa-icon>
</button>
</div>
