<div>
  <span class="badge bg-warning">permanentMode => {{ permanentMode }}</span>
  <span class="badge bg-secondary text-light"
    >Key => {{ keyPressed?.type }} {{ keyPressed?.key }}/{{
      keyPressed?.code
    }}
  </span>
</div>
<div>
  <span class="badge bg-danger text-light">temporaryMode => {{ temporaryMode }}</span>
</div>
<canvas
  id="canvasBord"
  #htmlCanvas
  width="1024"
  height="600"
  style="border: 1px dashed red"
></canvas>
<div>
  <span class="badge bg-info text-light">event => {{ canvasEvent }}</span>
  <span class="badge bg-warning"
    >mouse => {{ mousePointer?.x }},{{ mousePointer?.y }}</span
  >
</div>
